.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e4e4;
}

.main_nav {
  display: flex;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 5%;
}

.logo {
  flex: 0.2;
}

.logo h2 {
  font-size: 4rem;
  font-weight: 400;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search_wrapper {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 88%;
}

.menu_link {
  height: 100%;
}
.menu_link ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu_link ul li {
  font-size: 1.8rem;
}

#user_avatar {
  font-size: 2.5rem;
}
.user_icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  height: 100%;
  text-align: center;
}

.toggle_link {
  flex: 0.4;
  height: 88%;
}

.mobile_menu_link {
  display: none;
}

.profile_wrapper {
  display: none;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown_menu {
  font-size: 2rem;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 150px;
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown_menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media screen and (max-width: 950px) {
  .menu_link {
    display: none;
  }

  .toggle_link {
    order: 1;
    flex: 0.2;
  }

  .logo {
    /* order: 2;
    flex: 0.4;
    z-index: 1; */
    display: none;
  }

  .search_wrapper {
    order: 2;
  }

  .mobile_menu_link {
    display: inline;
  }

  .profile_wrapper {
    order: 3;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }

  /* Hamburger Menu Animation with Css */
  /* .mobile_menu_link {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
  }

  .hamburger_toggle_icon {
    font-size: 5rem !important;
    cursor: pointer;
    border: 2px solid #777777;
    border-radius: 10px;
  }

  .mobile_menu_link ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 40%;
    height: 100vh;
    left: 0;
    background: whitesmoke;
    opacity: 1;
    z-index: 3;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  .mobile_menu_link ul li {
    padding: 2rem 0 0 15%;
    font-size: 1.8rem;
    border-bottom: 1px solid #e9e9e9e9;
  }

  .mobile_menu_link ul li:hover {
    background: #eeeeee;
  }

  .navlinks_active {
    transform: translateX(0) !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .nav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav_overlay_active {
    z-index: 2;
    visibility: visible;
    opacity: 1;
  } */
}

@media screen and (max-width: 650px) {
  .logo h2 {
    font-size: 3rem;
    text-align: center;
  }

  .hamburger_toggle_icon {
    font-size: 4rem !important;
  }

  .toggle_link {
    height: 75%;
  }

  .search_wrapper {
    height: 75%;
  }
}
