.card {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-around;
  height: min-content;
}

.commentBox {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f1efef;
  width: 90%;
  height: min-content;
  row-gap: 1rem;
}

.communityEvent {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f1efef;
  width: 100%;
  row-gap: 1rem;
}

.commentBox > input {
  height: 6rem;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font-size: 2rem;
  padding: 0 1rem;
}

.info {
  color: #696969;
}

.button {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
}

.button > button {
  height: 100%;
  width: 30%;
  background-color: #3f32ce;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
}

.lower {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.eventsWrapper {
  overflow-y: auto;
  width: 90%;
  height: 20rem;
}
