.image {
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}

.image > span {
  height: 100% !important;
}

.image > img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
