.footer {
  display: flex;
  height: 6rem;
  align-items: center;
  background: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
}

.left {
  flex: 0.6;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 5%;
}

.right {
  flex: 0.4;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 5%;
}

.footer_items {
  font-size: 1.5rem;
  color: #5d5d5d;
  margin-right: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .footer {
    height: 9rem;
  }
}

@media screen and (max-width: 325px) {
  .footer_items {
    margin-right: 0;
  }
  .left {
    flex-direction: column;
  }
  .right {
    flex-direction: column;
  }
  .footer {
    height: 15rem;
  }
}
