.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  padding-top: 20px;
}

.upper {
  width: 80%;
}

.card {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 2rem 0.5rem;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 18%);
}

.image {
  border-radius: 50%;
  width: 6rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}

.image > img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 60%;
}

.titleAndHash {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 100%;
}

.hashTag {
  font-size: 1.4rem;
  font-style: italic;
}

.header .title {
  font-size: 1.7rem;
}

.details {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  height: 100%;
  width: 40%;
  justify-content: space-around;
}

.detail_item {
  background: #f4f4f4;
  border-radius: 10px;
  height: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.upperRow {
  color: #777777;
  font-size: 1.5rem;
}

.lowerRow {
  font-size: 1.7rem;
}

.lower {
  width: 100%;
  display: flex;
  column-gap: 3rem;
}

.left {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.chart {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 18%);
  border-radius: 20px;
}

.switcherWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
}

.eventWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;
}

.event {
  font-size: 1.5rem;
  color: #a6a6a6;
  cursor: pointer;
}

.event_active {
  color: #050505;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  width: 30%;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 18%);
}

.right > h2 {
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

.rightEventWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 32px;
  justify-content: space-around;
}

.rightEvent {
  width: 100%;
  height: 5rem;
  /* text-align: center; */
}

.rightEvent > button {
  height: 100%;
  width: 60%;
  border-radius: 10px;
  border: none;
  background-color: #f4f4f4;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .rightEvent {
    height: 5rem;
  }
  .rightEvent > button {
    width: 45%;
  }
}

@media screen and (max-width: 425px) {
  .rightEvent {
    height: 4.4rem;
  }
  .rightEvent > button {
    width: 65%;
  }
}

.yesEvent_active {
  background-color: #81d373 !important;
  color: #ffffff;
}

.noEvent_active {
  background-color: #f65179 !important;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .image {
    width: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .upper {
    width: 100%;
  }
  .card {
    flex-direction: column;
  }
  .header {
    width: 100%;
  }
  .details {
    width: 80%;
    justify-content: flex-start;
  }

  .lower {
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
  }

  .left {
    width: 80%;
  }

  .right {
    width: 80%;
  }
  .image {
    width: 6rem;
  }
}

@media screen and (max-width: 375px) {
  .left {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .image {
    width: 12rem;
  }
}
