.container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.secondRow {
  font-size: 3rem;
  color: #3e33cd;
}

.firstRow {
  font-size: 3rem;
  color: #646464;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: min-content;
  margin: 3rem 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.card_title {
  flex: 0.7;
}

.card_change_pos {
  color: #81d373;
}

.card_change_neg {
  color: #f65179;
}

.card_details {
  color: #626262;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }
  .right {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .button_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    width: 100%;
  }
  .button_wrapper > button {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
    width: 40%;
    border: none;
  }
}
