.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  width: 100%;
  margin-top: 12rem;
}

.top,
.below {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.right {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
}

.firstRow {
  color: #3e32cd;
  font-size: 4rem;
}

.secondRow {
  color: #646464;
  font-size: 2rem;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: min-content;
  margin: 3rem 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  row-gap: 3rem;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.card_title {
  flex: 0.7;
}

.card_change_pos {
  color: #81d373;
}

.card_change_neg {
  color: #f65179;
}

.card_details {
  color: #626262;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.card_input {
  height: 4.5rem;
}
.card_input > input {
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  outline: none;
  height: 100%;
  padding: 0 10px;
  background-color: #eaeaea;
  width: 100%;
}

.left_below {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  width: 100%;
}

.right_below {
  width: 100%;
}

.button {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}

.button > button {
  width: 100%;
  color: #ffffff;
  background-color: #3f32ce;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .top {
    flex-direction: column;
    row-gap: 8rem;
  }

  .container {
    row-gap: 8rem;
  }

  .below {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }

  .left {
    justify-content: start;
    column-gap: 40px;
  }

  .right_below {
    display: flex;
    justify-content: center;
  }
}
